[submodule "tci"]
	path = tci
	url = git@github.com:TikalCI/tci.git
[submodule "tci-library"]
	path = tci-library
	url = git@github.com:TikalCI/tci-library.git
[submodule "tci-pipelines"]
	path = tci-pipelines
	url = git@github.com:TikalCI/tci-pipelines.git
[submodule "tci-jnlp-node"]
	path = tci-jnlp-node
	url = git@github.com:TikalCI/tci-jnlp-node.git
[submodule "tci-cli"]
	path = tci-cli
	url = git@github.com:TikalCI/tci-cli.git
[submodule "tci-master"]
	path = tci-master
	url = git@github.com:TikalCI/tci-master.git
[submodule "tci-bloody-jenkins"]
	path = tci-bloody-jenkins
	url = git@github.com:TikalCI/tci-bloody-jenkins.git
