#!/bin/bash

export TCI_MASTER_VERSION='tikalci/tci-master-minimal:latest'
export TCI_LIBRARY_BRANCH=master
export TCI_PIPELINES_BRANCH=master
export GITHUB_PRIVATE_KEY_FILE_PATH=~/.ssh/id_rsa
export TCI_SERVER_TITLE_TEXT='TCI development environment'
export TCI_SERVER_TITLE_COLOR=orange
export TCI_BANNER_COLOR=slategray
export TCI_HOST_IP=*
export JENKINS_HTTP_PORT_FOR_SLAVES=8080
export JENKINS_SLAVE_AGENT_PORT=50000
export JENKINS_ENV_EXECUTERS=0
export TCI_DEBUG_MODE='true'

